<ion-header>
  <div class="header">
    <div class="title">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <h1>Lokasi Offline</h1>
    </div>
  </div>
</ion-header>

<ion-content>
  <div class="container">

    <!-- CONTENT -->
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d706.0048309242877!2d106.795748637531!3d-6.526666939258287!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69c3ffddca0c23%3A0x41126629b3c1218f!2sDAPUR%20UMMAH%20-%20TAHU%20BAKSO%20%26%20DIMSUM%20ENAK!5e1!3m2!1sid!2sid!4v1667436951872!5m2!1sid!2sid" class="map" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</ion-content>
