<ion-header>
  <div class="header">
    <div class="title">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <h1>Favorit</h1>
    </div>
  </div>
</ion-header>

<ion-content>
  <div class="container">

    <!-- CONTENT -->
    <div class="content">
      <div class="item">
        <img src="https://d2sofvawe08yqg.cloudfront.net/ansible-for-devops/s_hero?1650061398" />
        <div style="padding: 5px;">
          <div class="badge">
            <div class="best">Best Rating</div>
            <ion-icon style="width:15px; height:15px;color:red;" name="heart"></ion-icon>
          </div>
          <h5>Ansible for DevOps</h5>
          <p>Ansible is a simple, but powerful, server and configuration management tool. Learn to use Ansible effectively, whether you manage one server—or thousands.</p>
          <br />
          <button class="btn-custom">Mulai Baca</button>
        </div>
      </div>
      <div class="item">
        <img src="https://d2sofvawe08yqg.cloudfront.net/ansible-for-devops/s_hero?1650061398" />
        <div style="padding: 5px;">
          <div class="badge">
            <div class="best">Best Rating</div>
            <ion-icon style="width:15px; height:15px;color:red;" name="heart"></ion-icon>
          </div>
          <h5>Ansible for DevOps</h5>
          <p>Ansible is a simple, but powerful, server and configuration management tool. Learn to use Ansible effectively, whether you manage one server—or thousands.</p>
          <br />
          <button class="btn-custom">Mulai Baca</button>
        </div>
      </div>
      <div class="item">
        <img src="https://d2sofvawe08yqg.cloudfront.net/ansible-for-devops/s_hero?1650061398" />
        <div style="padding: 5px;">
          <div class="badge">
            <div class="best">Best Rating</div>
            <ion-icon style="width:15px; height:15px;color:red;" name="heart"></ion-icon>
          </div>
          <h5>Ansible for DevOps</h5>
          <p>Ansible is a simple, but powerful, server and configuration management tool. Learn to use Ansible effectively, whether you manage one server—or thousands.</p>
          <br />
          <button class="btn-custom">Mulai Baca</button>
        </div>
      </div>
      <div class="item">
        <img src="https://d2sofvawe08yqg.cloudfront.net/ansible-for-devops/s_hero?1650061398" />
        <div style="padding: 5px;">
          <div class="badge">
            <div class="best">Best Rating</div>
            <ion-icon style="width:15px; height:15px;color:red;" name="heart"></ion-icon>
          </div>
          <h5>Ansible for DevOps</h5>
          <p>Ansible is a simple, but powerful, server and configuration management tool. Learn to use Ansible effectively, whether you manage one server—or thousands.</p>
          <br />
          <button class="btn-custom">Mulai Baca</button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
